# macOS
.DS_Store

# Rust
**/target
**/*.rs.bk
*.pdb
Cargo.lock

# WASM
/src-web/pkg
/src-web/Cargo.lock
/wasm-artifact

# JavaScript/TypeScript
/js/node_modules
/js/dist
/js/package-lock.json

# General
*.log
*.bak
*.tgz
